
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: radial-gradient();
}
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 2px 140px;
    /* position: relative; */
}
.navbar  h1 {
    border-top: 1.5px solid  rgba(255, 68, 0, 0.87);
    border-left: 1.3px solid  rgba(76, 240, 35, 0.76);
    border-bottom: 1.5px solid  rgba(97, 252, 252, 0.938);
    border-right: 1.3px solid  rgba(9, 255, 0, 0.897);
    border-radius: 10px;
    color: #07070744;
    border-bottom: 2px solid ;
    text-transform: uppercase;
    background:  radial-gradient(rgb(175, 155, 247),rgba(250, 155, 242, 0.911));
}
.navbar  h1 span{
    color: #ff4400e8;
}
nav{
    flex: 1;
    text-align: right;
}
nav li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    margin: 10px ;
}
nav ul li a{
    text-decoration: none;
    color: #bbb;
    cursor: pointer; 
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s ease-out;
}
nav ul li a:hover{ 
    background: linear-gradient(to right,
    royalblue,
    green,
    orangered,
    orange,
    violet,
    indigo,
    blue,
    red);
   -webkit-background-clip: text;
    color: transparent;
   
}
nav .fa {
    position: absolute;
    top: 22px;
    align-items: center; 
    color: gray;
    font-size: 20px;
    cursor: pointer;
}
.row{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.col-1{
    flex-basis: 22.9%;
    min-width: 250px;
}
.col-1 h1{
    font-weight: 900;
    font-size: 31px;
    text-shadow: 1px 1px 1px rgba(112,3.94,0.50) , 2px 2px 2px rgba(55,66,77,0.90);
}
.col-1 p{
    font-size: 14px;
    color: black;
    padding-top: 20px;
    line-height: 20px;
    padding-bottom: 20px;
}
.col-1 a{
    margin-top: 15px;
    padding: 10px;
    color: white;
    background: orangered;
    text-decoration: none;
    border-radius: 30px;
}
.col-1 img{
  max-width: 100%;
  padding: 10px 0;
}
.continer{
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    /* margin-right: 0px; */
    background: radial-gradient(#fff,#ffd6d6);
}

/* -----------------------------------------------------   */
.col-2 img{
    max-width: 80%;
    height: 300px;
    margin-left:0px ;
    flex: 50%;
    column-gap: 10px;
}

.sub-container{
    /* background:blue; */
    padding-left: 50px;
}

/* ------------------- */
.col-3 img{
    max-width: 90%;
    height: 270px;
    margin-left:0px ;
    flex: 50%;
    column-gap: 100px;
}

.feature-container{
    background: radial-gradient(#fafffa,#f8f2f8);
    padding-left: 50px ;
    padding-right: 50px ;
    align-items: center;
}
.feature-container h2{
    padding-top: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px white,2px 2px 2px black;
    color: greenyellow;
   
}
.col-3{
    max-width: 100%;
    max-height: 600px;
}
.col-3 img{
    cursor: pointer;
    margin: 10px 4px 0;
    padding-left: 40px;
    transition: 1s ease-in;
}
.col-3 img:hover{
    transform: scale(1.05);
}
.col-3 h4{
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
    padding-top: 10px;
    /* padding-left: 65px; */
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px 1px blue,2px 2px 2px yellowgreen;
    text-transform: capitalize;
}
.col-3 .rating{
    padding-top: 10px;
    color: yellow;
    /* margin-left: 90px; */
    text-align: center;
    
}
.col-3  p{
    
    align-items: center;
    color: whitesmoke;
    text-shadow: 1px 1px 1px blue,2px 2px 2px yellowgreen;
    /* padding-left: 140px; */
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    /* margin-left: 30px */
} 

/* leatues products */

.latuest-container{
    margin-top: 10px;
    background-color: #f3f3f3;
    padding-left: 50px ;
    padding-right: 50px ;
    align-items: center;
}
.latuest-container h2{
    padding: 10px 450px ;
    text-shadow: 1px 1px 1px white,2px 2px 2px black;
    color: rgb(52, 253, 210); 
}

/* all products */

.all-products{
    margin-top: 10px;

}
.all-products-container{
        background: linear-gradient(-260deg,#fceded,#eeffd4,#ecfbff);
}

.all-products-container #h2{
    padding: 15px;
    font-size: 28px;
    font-weight: bolder;
    color: rgb(157, 255, 0);
    text-transform: capitalize;
    text-align: center;
    text-shadow: 1.8px 1.8px 0.5px black,3.5px 3.3px 1px orchid;
    
}
.section{
    padding:15px;
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(260px,1fr));
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    
}

.col-5 img{
    width: 250px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}


.col-5 h4{
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
     padding-top: 10px;
    color: whitesmoke;
    text-shadow: 1px 1px 1px blue,2px 2px 2px yellowgreen;
    text-transform: capitalize;
}
.col-5 .rating-1{
    padding-top: 8px;
    color: #fcfc1b;
    /* text-align: center; */
    
}
.col-5  p{
    color: rgb(238, 37, 37); 
    text-shadow: 1px 1px 1px blue,2px 2px 2px yellowgreen;
    padding-top: 8px;
    padding-bottom: 10px;
    
}  

/* offer pages */

.offer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#fff,#ffd6d6);

}
/* .offer-images img{
        
} */
.offer-text{
    padding: 100px;
    margin: 5px;
}
 .offer-text #p{
    font-size: 20px;
    text-transform: capitalize;
    padding-bottom: 5px;
 }

 .offer-text h1{
    font-size: 28px;
    font-weight: 600;
    color: black;
    text-transform: capitalize;
    padding: 18px;
 }
 .offer-text p{
    text-transform: capitalize;
    font-size: 18px;
    line-height: 15px;
    line-height: 28px;
    padding-bottom: 38px;
    
 }
 .offer-text a{
    
    padding: 10px;
    color: white;
    background: orangered;
    text-decoration: none;
    border-radius: 30px;
}

/*     card dection creater card incon */
.profile-container{
    background-color: #ffffcd;
    margin-top:5px;
}
.profile-container .col-7{
    column-gap: 1px;
    background: whitesmoke;   
    margin: 10px;

}
.col-7{
    text-align: center;
    box-shadow: 3px 3px 2.5px  #bbb;
    max-width: 280px;
    padding: 20px;
    
}
.col-7 .icon{
    text-align: center;
    font-size: 50px;
    color: orangered;
}
.col-7 .para{
    text-align: left;
    color: black;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}
.col-7 .star-ratting{
    color: yellow;
    padding: 10px;
}
 .col-7 .profile-img img{
    border-radius: 50%; 
    width: 80px;
    height: 80px;
    padding: 10px;
} 
.col-7 h6{
    font-size: 18px;
    font-weight: bolder;
    text-transform: capitalize;
}

/* ------------copy right-------------- */


footer{
    position: relative;
}

.footer-container{
    margin-top: 8px;
    background: black;
    position: absolute;
    bottom: 0 auto;
    width:100vw;
    
}
.container-row{
    text-align: center;
}
.container-row h1{
    background: linear-gradient(200deg,green,blue, pink,yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    font-size: 28px;
    padding: 10px;
}
.container-row h1 span{
    background: linear-gradient(-200deg,#fa1b1b,#11e4f3,#bbeb5c,#ec1cdb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container-row p{
    color: whitesmoke;
    line-height: 19px;
    text-align: center;
}
.links {
  align-items: center;


}
.links ul li{
    padding: 7px; 
    list-style: none; 
}

.links ul li a .fa-brands {
    padding-right: 40px;
    text-decoration: none;
    font-size: 30px;
    color: #f57676;
}
.links ul li a .fa-brands:hover{
    color: blue;
}
.copy-right{
    text-align: center;
    color: whitesmoke;
    padding: 8px;
}
.copy-right p a{
    color: #fc6c6c;
}

 #span{
    background: linear-gradient(-200deg,#fa1b1b,#11e4f3,#bbeb5c,#ec1cdb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    text-transform: capitalize;
}



